<html xmlns="http://www.w3.org/1999/html">
<title>Ceekay</title>
<body>
    <div class="heading" >
        <img src="ck_logo.png" id="ck_logo" >
        <br>
        <br>
        <img src="ceekay.png" id="ceekay" >
        <br>
        <p>Travel with passion. Fly with dreams. </p>
    </div>
    <div class="header">
        <button id="homebutton">Home</button>
        <button id="gallerybutton">Gallery</button>
        <button id="contactusbutton">Contact Us</button>
        <button>Feedback</button>
    </div>
    <div class="body">
        <div class="home">
            <p>All your needs in single platform.</p>
            <div class="features">
                <div class="red">Airline Ticketing</div>
                <div class="red">Emigration Clearance</div>
            </div>
            <div class="features">
                <div class="blue">Umrah Services</div>
                <div class="blue">Tour Packages</div>
            </div>
            <div class="features">
                <div class="red">Online Ticketing</div>
                <div class="red">Hotel Reservation</div>
            </div>
            <div class="features">
                <div class="blue">Visiting Visa</div>
                <div class="blue">Railway Tickets</div>
            </div>
            <div class="features">
                <div class="red">Visa Stamping</div>
                <div class="red">Bus Tickets</div>
            </div>
            <div class="features">
                <div class="blue">Passport Srevices</div>
                <div class="blue">Certificate Attestation</div>
            </div>
        </div>
        <div class="gallery">
            <p>Inaguration</p>
            <img src="14787470_1807984666089573_1592039315_o.jpg" class="image">
            <img src="14800086_1807984882756218_757461207_o.jpg" class="image">
            <img src="14800119_1807984029422970_1076234730_o.jpg" class="image">
            <p>Office</p>
            <img src="14805629_1808992662655440_220195726_n.jpg" class="image">
            <img src="14801105_1808992682655438_1382163693_n.jpg" class="image">
            <img src="14741051_1808992652655441_1551710480_n.jpg" class="image">
        </div>
        <div class="contactus">
            <p class="address">Address</p>
            <p class="address">CEEKAY TRAVELMATE</p>
            <p class="address">1st floor, Fujairah Shopping Complex</p>
            <p class="address">Koprakkalam, Kaipamangalam PO,680681</p>
            <p class="address">Office: 0480 2641231</p>
            <p class="address">Mobile: 9072239955</p>
            <p class="address">Email:cktravelmate@gmail.com</p>
        </div>
    </div>
    </body>
</html>